a{
  font-family: 'Reem Kufi', sans-serif;
  /*dark grey*/
  color:#313233;
  padding:20px 20px 5px 20px;
}


a:hover{
  /*light grey*/
  color:#525354;
}
.nav{
  border-bottom: .5px solid #525354;
}
body{
  /*cream color*/
  background-color:#ffffff;
}
h1{
  font-family: 'Reem Kufi', sans-serif;
  color:#ffffff;
  text-align: center;
  font-size: .2em;
}
h2{
  color:#BC3F00;
  font-family: 'Reem Kufi', sans-serif;
}
h4{
  color:#916838;
  font-family: 'Reem Kufi', sans-serif;
}
h3{
  color:#063F7A;
}
h3:hover{
  color:#FF5904;
}

p{
  color:#FF5904;
font-size: 20px;
font-family: 'Asar', serif;
}
/*style for paragraphs*/

#landing{
background-color: #b13bce;
font-family: 'Reem Kufi', sans-serif;
font-size: 20em;

}

#sprite{
  text-align: center;
  color:#FF5904;
}

/*css for coin animation*/
.coin{
  transform:translate(520px,0px);
width: 100px;
height: 100px ;
background-image: url("../images/coin-sprite.png");

-webkit-animation: play .8s steps(10) infinite;
-moz-animation: play .8s steps(10) infinite;
-ms-animation: play .8s steps(10) infinite;
-o-animation: play .8s steps(10) infinite;
animation: play .8s steps(10) infinite;

}
-webkit-@keyframes play {
   1%{ background-position: 0px; }
  100% { background-position: -500px; }
}

@keyframes play {
  1%{ background-position: 0px; }
 100% { background-position: -1000px; }
}
/*end of css for coin animation*/



/*poem animation*/

/*animation for the title*/
.title{
  transform:translate(0px, 250px);
  color:#FF5904;
  text-align: center;
  -webkit-animation:drop 2s , fadeIn 2s;
  animation:drop 2s , fadeIn 2s;
/*this places the element 200px up from the default x-y axis*/
}
@keyframes drop{
 1% { transform:translate(0px, -200px);}

 100% { transform:translate(0px, 250px);}
 /*this moves the element 200px down; back to it's default position*/
}
@-webkit-keyframes drop{
 1% { transform:translate(0px, -200px);}

 100% { transform:translate(0px, 250px);}
}
@keyframes fadeIn{
  0%{opacity:0;}
  50%{opacity:.5;}
  100%{opacity:1;}
 /*this fades in the title as its dropping down*/
}
@-webkit-keyframes fadeIn{
  0%{opacity:0;}
  50%{opacity:.5;}
  100%{opacity:1;}
}

/*animation for verse nav*/
.verseNav{
  transform: translate(300px,0px);
  color:#229BB7;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  -webkit-animation:dropV 2s , fadeV 2s;
  animation:dropV 2s , fadeV 2s;
/*this places the element 200px up from the default x-y axis*/
}
.verseNav:hover{
  color:#67C000;
}
@keyframes dropV{
 0% { transform:translate(0px, -200px);}

 100% { transform:translate(0px, 0px);}
 /*this moves the element 200px down; back to it's default position*/
}
@-webkit-keyframes dropV{
 0% { transform:translate(0px, -200px);}

 100% { transform:translate(0px, 0px);}
}
@keyframes fadeV{
  0%{opacity:0;}
  50%{opacity:.5;}
  100%{opacity:1;}
 /*this fades in the title as its dropping down*/
}
@-webkit-keyframes fadeV{
  0%{opacity:0;}
  50%{opacity:.5;}
  100%{opacity:1;}
}


/*verse one animation*/
.firstV{
  transform:translate(300px,0px);
animation: fade 4s;
}
@-webkit-keyframes fade{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes fade{
  0%{opacity:0;}
  100%{opacity:1;}
}

/*verse two animation*/
.secondV{
  transform: translate(370px, 0px);
  /*this will place the text under nav for verse two*/
  -webkit-animation: spin 1.5s , slide 1.5s;
animation: spin 1.5s , slide 1.5s;
}
/*this will make the text spin*/
@keyframes spin {
  0%{ transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}
/*this will make the text slide 1200px from the right*/
@keyframes slide {
  0%  { transform: translate(1200px, 0px); }
  100% { transform: translate(370px, 0px); }
}
@-webkit-keyframes slide {
  0%  { transform: translate(1200px, 0px); }
  100% { transform: translate(370px, 0px); }
}

/*verse three animation*/
.thirdV{
  text-align: center;
  -webkit-animation: scale 1.5s, fade 1.5;
animation: scale 1.5s, fade 1.5;
transition:all 1s;
}
/*this will scale down the text*/
@keyframes scale {
  0%{ transform: scale(5); }
  100%{ transform: scale(1); }
}
@-webkit-keyframes scale {
  0%{ transform: scale(5); }
  100%{ transform: scale(1); }
}

/*this scales the text up, zoom in*/

/*@keyframes scale {
  0%{ transform: scale(6); }
  100%{ transform: scale(1); }
}
@-webkit-keyframes scale {
  0%{ transform: scale(6); }
  100%{ transform: scale(1); }
}*/

/*this should make the text fade in but its not working at the moment*/
@keyframes fade {
  0%{ opacity:0.0; }
  50%{opacity:.5;}
  100%{ opacity:1; }
}
@-webkit-keyframes fade {
  0%{ opacity:0.0; }
  50%{opacity:.5;}
  100%{ opacity:1; }
}


/*css for poem*/
